<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}
        {{page.title}} | Inject
      {% else %}
        Inject: Dependency Management Got Awesome
      {% endif %}
    </title>

    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    {% for css in page.css %}
      <link rel="stylesheet" href="{{css}}" type="text/css" />
    {% endfor %}

    {% if page.title %}
    <meta property="og:title" content="{{page.title}} | Inject"/>
    <meta name="title" content="{{page.title}} | Inject" />
    {% else %}
    <meta property="og:title" content="Inject: Dependency Management Got Awesome"/>
    <meta name="title" content="Inject: Dependency Management Got Awesome" />
    {% endif %}

    {% if page.summary %}
    <meta property="og:description" content="{{ page.summary }}"/>
    <meta name="description" content="{{ page.summary }}">
    {% else %}
    <meta property="og:description" content="CommonJS and AMD dependency management designed for the browser."/>
    <meta name="description" content="CommonJS and AMD dependency management designed for the browser." />
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}

    <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon_v3.ico">

    <!-- tracking -->
    <!-- todo: use LinkedIn GA Tracking -->
    
    <!-- google custom search engine -->
    <script>
      (function() {
        var cx = '007454891895213570750:rm0mkbrbrmi';
        var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <!-- end google custom search engine -->
    
  </head>
  <body>
    <div class="global-header">
      <div class="top-nav">
        <div class="wrapper">
          <h2 class="logo">
            <a title="Home" href="{{ site.production_url }}">&nbsp;</a>
          </h2>
          <h2 class="head-title">
            {{ site.name }}
          </h2>
        </div>
      </div>
      <div class="bottom-nav">
        <div class="wrapper">
          <ul class="nav" role="navigation">
            <li class="tab {% if page.nav == "home" %}selected{% endif %}">
              <a href="/" class="tab-name"><span>Home</span></a>
            </li>
            <li class="tab {% if page.nav == "download" %}selected{% endif %}">
              <a href="/download" class="tab-name"><span>Download</span></a>
            </li>
            <li class="tab {% if page.nav == "docs" %}selected{% endif %}">
              <a href="/docs" class="tab-name"><span>Documentation</span></a>
            </li>
            <li class="tab {% if page.nav == "news" %}selected{% endif %}">
              <a href="/news" class="tab-name"><span>News</span></a>
            </li>
            <li class="tab">
              <a href="http://github.com/linkedin/inject" class="tab-name"><span>GitHub</span></a>
            </li>
          </ul>
      <div class="global-search">
        <div class="gcse">
          <gcse:searchbox-only></gcse:searchbox-only>
        </div>
      </div>
        </div>
      </div>
    </div>

    <div class="content">

      <div class="row">
        <div id="content-header" class="full">
          <div class="desc">
            <div class="source">
              <a class="button" href="{{site.stable_dl}}">Download {{site.name}} v{{site.version}}</a>
              <div><a href="/download">See all versions</a></div>
            </div>
            <span class='short'>{{site.description.short}}</span>
            <span class='long'>{{site.description.long}}</span>
          </div>
        </div>
      </div>

      {{ content }}

    </div>

    <div class="global-footer">
      <div class="wrapper">
        <div class="footer">
          &copy; {{ site.time | date: "%Y" }} LinkedIn Corporation
        </div>
      </div>
    </div>

    {% for js in page.javascript %}
    <script type="text/javascript" src="{{js}}"></script>
    {% endfor %}
  </body>
</html>