---
layout: default
type  : page
nav   : docs
---
{% include config %}

<div class="row">
  <div id="content-main" class="grid16 first">
    <div class="pad">
      {% if page.no_format == true %}
        {{ content }}
      {% else %}
        <div class="markdown-body">
          <h1>{{ page.title }}</h1>
          {% if page.version %}
            <div class="doc_version">{{page.version}}</div>
          {% endif %}
          <hr>

          {% for doc in site.documentation %}
            {% if doc.version == page.version and doc.draft == true %}
              <div style="border: 1px solid #600; background: #fcc; padding: 10px; font-size:20px; color: #600">
                DRAFT: This is a draft of documentation for an unreleased version of Inject.
                These docs may change without warning.
              </div>
            {% endif %}
          {% endfor %}
          
          {% if page.deprecated == true %}
          <div class="deprecated" style="border: 1px dashed #666; background: #ccc; padding: 10px;">
            <p>
              <strong>Deprecation Warning:</strong> This method is deprecated and will be removed in
              a future version. Please see the documentation below for the new methods or APIs to replace
              this (if applicable). You may also access the another version of the documentation that may
              contain this method:

              {% for doc in site.documentation %}
                {% if doc.version != page.version %}
                  {% for cat in doc.categories %}
                    {% for post in site.categories[cat.cat] reversed %}
                      {% if post.version != page.version and post.title == page.title %}
                        [<a href="{{post.url}}">{{post.version}}</a>]
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </p>
          </div>
          {% endif %}
          
          {{ content }}
        </div>
        {% for doc in site.documentation %}
          {% if doc.version == page.version and doc.draft != true %}
            {% if page.no_comments != true %}
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                  var disqus_shortname = '{{ site.disqus.shortname }}';
                  var disqus_developer = {{ site.disqus.developer }};
                  var disqus_identifier = '{{page.id}}';
                  var disqus_url = '{{ site.production_url }}{{page.url}}';

                  {% if page.version %}
                  var disqus_title = 'Inject v{{page.version}} documentation: {{page.title}}';
                  {% else %}
                  var disqus_title = 'Inject documentation: {{page.title}}';
                  {% endif %}

                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div id="content-sidebar" class="grid8">
    <div class="pad">
      {% for d in site.documentation %}
        {% if page.version == d.version %}
          <div class="block">
            <ul>
              {% for cat in d.categories %}
                <li><b>{{cat.name}}</b>
                  <ul>
                    {% for p in site.categories[cat.cat] reversed %}
                      {% if p.version == d.version %}
                        {% if p.title == page.title %}
                          <li class="current"><a href="{{p.url}}" style="font-weight:normal">{{p.title}}</a></li>
                        {% else %}
                          <li><a href="{{p.url}}" style="font-weight:normal">{{p.title}}</a></li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
      <div class="block">
        <p>
          Other Versions:<br/>
          {% for d in site.documentation %}
            {% if page.version != d.version %}
              [<a href="/docs/{{d.version}}/index.html">{{d.version}}</a>]
            {% endif %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>
