---
layout: default
type  : page
nav   : home
---
{% include config %}

<!-- Splash -->
<div id="homepage-splash">

  <!-- Banner -->
  <h1 class="splash"><img id="inject-logo" src="{{ site.logo }}" alt="Inject Logo"/>{{ site.name }}</h1>
  <h2 class="splash">{{ site.description.short }}</h2>
  <p class="splash">CommonJS and AMD module loading, cross-origin fetching, localStorage caching, and more.</p>
  <a class="button" href="{{site.stable_dl}}">Download {{site.name}}</a>
  <a class="see-all-versions" href="/download">Current version is {{ site.version }}. See all versions.</a>

  <!-- Share The Love -->

  <!-- GitHub -->
  <iframe src="http://ghbtns.com/github-btn.html?user=linkedin&amp;repo=inject&amp;type=watch&amp;count=true"
allowtransparency="true" frameborder="0" scrolling="0" width="86" height="20"></iframe>

  <!-- G+ -->
  <div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://www.injectjs.com"></div>

  <!-- Twitter -->
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.injectjs.com" data-via="InjectJS" data-count="none">Tweet</a>

  <!-- LI -->
  <script type="IN/Share" data-url="http://www.injectjs.com"></script>

  <!-- Place this tag after the last +1 button tag. -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

</div>

<!-- Sample Code Box -->
<div id="homepage-code">

  <p id="demo-tag">...</p>

  <div id="demo-code">
    <h6 class="demo-code-header">html</h6>
{% highlight html %}
<script src="/path/to/inject.js"></script>
<script>
  Inject.setModuleRoot("/path/to/modules");
  require.run("program");
</script>
{% endhighlight %}
  </div>

  <script src="/scripts/lib/inject-0.7.0/inject.min.js"></script>
  <script>
    Inject.setModuleRoot("/scripts/demo/modules");
    Inject.reset();
    require.run("program");
  </script>

</div>

<!-- Actions -->
<ul id="actions-list">

  <!-- Quick Start Guide -->
  <li class="action-item first">
    <a class="action-link" href="/docs/{{site.doc_version}}/howto/quick_start.html">
      <span class="action-icon quick-start"></span>
      <h3 class="action-headline">Get up and running.</h3>
      <p class="action-description">Quickly learn how to include Inject, configure common options, and start your application.</p>
      <span class="action button">Quick Start Guide</span>
    </a>
  </li>

  <!-- How Inject Works -->
  <li class="action-item">
    <a class="action-link" href="/docs/{{site.doc_version}}/howto/how_inject_works.html">
      <span class="action-icon how-inject-works"></span>
      <h3 class="action-headline">Peek under the hood.</h3>
      <p class="action-description">Understand the different components of Inject and how they work together to resolve dependencies.</p>
      <span class="action button">How Inject Works</span>
    </a>
  </li>

  <!-- Documentation -->
  <li class="action-item">
    <a class="action-link" href="/docs">
      <span class="action-icon full-documentation"></span>
      <h3 class="action-headline">Read all about it.</h3>
      <p class="action-description">Everything you need to know about Inject, from API documentation to advanced configuration options.</p>
      <span class="action button">Full Documentation</span>
    </a>
  </li>

</ul>
